@import "scss/abstracts/mixins";

.footer {
  @include flex-col-spaceEvenly;
  align-items: center;
  background-color: $color-teal-darker;
  color: $color-teal-lighter;
  font-size: 0.9em;
  min-height: 350px;
  margin-top: 20px;

  &__top {
    width: 85vw;
    max-width: 1200px;
  }

  &__left,
  &__mid,
  &__right {
    margin: 10px 0;
    // border: solid 1px white;
  }

  &__left {
    .contact {
      @include flex-col-spaceEvenly;

      margin-top: 20px;
      h4 {
        @include heading-4;
      }
      span {
        margin: 5px 0;
      }
    }
  }

  &__mid {
    @include flex-col-spaceEvenly;
    span {
      font-size: 1.2em;
    }
  }

  .field {
    margin: 10px 0;
    input {
      width: 70%;
      height: 30px;
    }
  }

  .social__container {
    @include flex-col-spaceEvenly;
    span {
      margin: 10px 0;
    }
    &__icons {
      @include flex-row-spaceBetween;
      margin: 10px 0;
      max-width: 30%;
      a {
        color: inherit;
      }
      i {
        transform: scale(2);
      }
    }
  }

  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: 1px 1px 5px $color-teal-dark, -1px -1px 5px $color-teal-dark !important;
  }

  // breakpoint: larger than mobile

  @include breakpoint(phablet) {
    min-height: 200px;

    &__top {
      @include flex-row-spaceEvenly;
    }
    &__left,
    &__mid {
      width: 100%;
      margin: 10px;
    }
    &__right {
      max-width: 1200px;
      a {
        color: $color-ink-lightest !important;
        &:hover {
          color: $color-sky-lighter !important;
        }
      }
    }

    .field {
      input {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}
