@import "../abstracts/mixins";

.header {
  @include flex-row-spaceEvenly;
  background-color: $color-teal;
  align-items: baseline;
  height: 100px;

  .header__left {
    text-align: center;
    margin: auto;
    margin-left: 5vw;
    width: 70vw;
  }

  .header__right {
    margin: auto;
  }

  h4 {
    @include heading-4;
    margin-bottom: 0;
  }

  a {
    font-weight: bolder;
    color: $color-orange-lighter;

    &:visited {
      color: $color-ink-lightest;
    }
    &:hover {
      color: $color-sky-lighter;
      text-decoration: none;
    }
  }
}

.clearfix {
  @include clearfix;
}
