@import "../abstracts/mixins";

.header {
  @include flex-row-spaceEvenly;
  background-color: $color-teal;
  align-items: baseline;
  height: 100px;

  &__left {
    text-align: center;
    margin: auto;
    margin-left: 5vw;
    width: 70vw;
  }

  &__right {
    margin: auto;
  }

  h4 {
    @include heading-4;
    margin-bottom: 0;
  }

  a {
    font-weight: bolder;
    color: $color-orange-lighter !important;

    &:visited {
      color: $color-ink-lightest !important;
    }
    &:hover {
      color: $color-sky-lighter !important;
    }

    // breakpoint: larger than mobile

    @include breakpoint(phablet) {
      &:visited {
        color: $color-ink-light !important;
      }
      &:hover {
        color: $color-sky-lighter !important;
      }
    }
  }
}
