input,
select {
  border: none;
  border-radius: 10px;
  padding: 0 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 1px 1px 5px $color-sky, -1px -1px 5px $color-sky !important;
}
