//default: portrait
.photo {
  @include flex-col-spaceEvenly;
  align-items: center;
  background: $color-sky-lighter;
  height: calc(5 * 100px);
  width: calc(4 * 100px);
  margin: auto;
}
// icon
.photo2 {
  height: 100px;
  width: 100px;
}
// 16:9 video
.photo3 {
  height: calc(9 * 40px);
  width: calc(16 * 40px);
}
//large icon
.photo4 {
  height: 200px;
  width: 200px;
}
//landscape
.photo5 {
  height: 200px;
  width: 320px;
}

.parallax {
  width: 100%;
  height: 100%;
  .center__text {
    background: $color-sky-lighter;
    left: 50%;
    top: 50%;
    position: absolute;
    padding: 20px;
    transform: translate(-50%, -50%);
  }
}
