.module-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.volunteer__form,
.SingleUser {
  .module__container {
    @include flex-col-spaceEvenly;
    align-items: center;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 20px;
    height: 40vw;
    width: 80vw;
    min-height: 0;
    min-width: 200px;
    max-height: 300px;
    max-width: 600px;
    opacity: 0.9;
    box-shadow: 1px 1px 5px $color-sky, -1px -1px 5px $color-sky !important;
    top: 0;
    overflow: hidden;
    animation: popup 1.5s 1 ease-out;
    animation-fill-mode: forwards;
    span {
      width: 90%;
      font-weight: bolder;
      font-size: 1.2em;
      @include breakpoint(phablet) {
        font-size: 1.5em;
      }
    }
    .moduleThanks {
      @include flex-col-spaceEvenly;
      align-items: center;
      height: 100px;
      width: 300px;
      padding: 0.5rem;
      p {
        text-align: center;
        margin: 0;
        width: 80%;
      }

      .form-delete {
        @include flex-col-spaceEvenly;
        align-items: center;
        padding: 1rem 0;
        input {
          background-color: #eee;
          width: 80%;
        }
        button {
          max-width: 80%;
          opacity: 1;
        }
      }
    }
  }
  @keyframes popup {
    0% {
      height: 5%;
      top: 0%;
    }
    25% {
      height: 5%;
      top: 30%;
    }
    50% {
      height: 5%;
      top: 35%;
    }
    100% {
      height: 100%;
      top: 35%;
    }
  }
}

@include breakpoint(phablet) {
  .SingleUser {
    .module__container {
      .moduleThanks {
        p {
          width: 100%;
        }
      }
    }
  }
}
