@import "../abstracts/mixins";

.about {
  @include flex-col-spaceEvenly;

  padding: 0 2vw;
  .title {
    h1 {
      @include heading-1;
      text-align: center;
    }
  }
  .section1 {
    .photo {
      width: 100vw;
    }
  }

  .description {
    width: 80vw;
    margin: auto;
    border-bottom: none;

    // breakpoint: larger than mobile

    @include breakpoint(phablet) {
      width: 60vw;
    }
  }
  .photo2 {
    margin-bottom: 20px;
  }
}
