@import "scss/abstracts/mixins";

.endorsement {
  @include flex-col-spaceEvenly;

  padding: 0 2vw;

  .collapse {
    &:not(.show) {
      height: 200px;
      display: block !important;
    }
  }

  .collapsing {
    min-height: 200px !important;
  }

  .person {
    // @include flex-row-spaceBetween;
    display: flex;
    .photo__container {
      width: 100%;
      max-width: 40vw;
      justify-content: end;
      @include breakpoint(phablet) {
        max-width: 30vw;
      }
      .photo2 {
        text-align: center;
        margin-top: 20px;
        margin-right: 20%;
      }
      .dropdown__container {
        text-align: center;

        height: calc(100% - 120px);
        i {
          margin-right: 10px;
          margin-top: 50px;
          color: white;
        }
      }
    }
    .description {
      max-width: 50vw;
      overflow: hidden;
      padding-right: 10px;
      padding-bottom: 10px;
      border-bottom: solid #ccc 1px;

      p {
        padding: 10px 0 5px 0;
      }

      span {
        position: absolute;
        margin-top: 10px;
        right: 5vw;
      }

      @include breakpoint(phablet) {
        height: 100%;
        padding: 0;
      }
    }
  }
}

.publicity__container {
  @include flex-row-spaceEvenly;
  flex-wrap: wrap;
  .photo4 {
    max-height: 40vw;
    max-width: 40vw;
    margin: 10px 0;
  }
}

.endorsement__container {
  @include flex-col-spaceEvenly;
}
