@import "scss/abstracts/mixins";

.home {
  @include flex-col-spaceEvenly;
  padding: 0 20px;

  .grid__container {
    // breakpoint: larger than mobile

    @include breakpoint(phablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr;
      grid-template-areas:
        "section1 section2"
        "section3 section4";
      width: 100%;
      grid-gap: 20px;
      height: 100%;
    }
  }

  .section {
    border: none;
  }
  .section1 {
    grid-area: section1;
  }
  .section2 {
    grid-area: section2;
  }
  .section3 {
    grid-area: section3;
  }
  .section4 {
    grid-area: section4;
  }
  &__landing {
    @include flex-col-spaceEvenly;
    font-size: 1.8em;
    font-weight: 600;
    align-items: center;
    button {
      width: 200px;
      height: 50px;
    }
    &__info {
      @include flex-row-spaceEvenly;
    }
  }
}
