@import "scss/abstracts/mixins";

.home {
  @include flex-col-spaceEvenly;
  padding: 0 20px;
  .section {
    border: none;
  }
  .section1 {
    grid-area: section1;
  }
  .section2 {
    grid-area: section2;
  }
  .section3 {
    grid-area: section3;
  }
  .section4 {
    grid-area: section4;
  }
  &__landing {
    @include flex-col-spaceEvenly;
    font-size: 1.8em;
    font-weight: 600;
    &__info {
      @include flex-row-spaceEvenly;
    }
  }
}

.grid__container {
  @include breakpoint(phablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
      "section1 section2"
      "section3 section4";
    width: 100%;
    grid-gap: 10px;
    height: 100%;
  }
}
