@import "scss/abstracts/mixins";

.home {
  @include flex-col-spaceEvenly;
  padding: 0 20px;

  .btn-primary {
    &:hover {
      background-color: $color-teal-dark;
      a {
        color: $color-teal-light;
      }
    }
    &:active,
    &:focus {
      a {
        color: $color-teal-light;
      }
    }
    a {
      color: $color-teal-darker;
      text-decoration: none;
    }
  }

  &__container {
    max-width: 80vw;
    margin: auto;
    &__redirect {
      margin: 50px auto;
      .section__toSocialMedia {
        margin-top: 30px;
      }
      .social__container {
        text-align: end;

        &__icons {
          min-width: 160px;

          margin-left: auto;
        }
      }
      @include breakpoint(phablet) {
        @include flex-row-spaceBetween;
        .section__toAbout,
        .section__toSocialMedia {
          width: 50%;
          padding: 0 20px;
        }
        .section__toAbout {
          color: $color-teal-dark;
        }
        .section__toSocialMedia {
          margin: 20px 0 auto 0;
        }
        .social__container {
          @include flex-col-spaceEvenly;
          text-align: center;
          &__icons {
            margin: auto;
          }
          span {
            display: none;
          }
        }
      }
    }
  }
  .section__toVolunteer {
    @include flex-col-spaceEvenly;
    font-size: 1.2em;
    align-items: center;
    height: calc(100vh - 100px);
    margin-bottom: 100px;

    .featureImg {
      position: absolute;
      width: 100vw;
      height: calc(100vh - 100px);
      width: calc(100vw - 15px);

      @include breakpoint(handheld) {
        width: 100vw;
      }
      @include breakpoint(phablet) {
        width: calc(100vw - 16px);
      }
      .center__text {
        transform: translate(0, 0);
        left: auto;
        right: 0;
        margin-right: 10px;
        background-color: $color-teal;
        &:hover {
          background-color: $color-teal-dark;
        }
      }
    }

    @include breakpoint(phablet) {
      min-height: 50vh;
    }
  }

  .grid__container {
    // breakpoint: larger than mobile
    @include breakpoint(phablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr;
      grid-template-areas:
        "section1 section2"
        "section3 section4";
      width: 100%;
      grid-gap: 20px;
      height: 100%;
    }
  }

  .section1 {
    grid-area: section1;
  }
  .section2 {
    grid-area: section2;
  }
  .section3 {
    grid-area: section3;
  }
  .section4 {
    grid-area: section4;
  }
  .home__press {
    @include flex-col-spaceEvenly;
    padding-top: 20px;
    .description {
      border: none;
      margin: auto 10px;
      text-align: start;
      width: calc(80vw - 20px);
      h3 {
        text-align: center;
      }
    }
    .photo__container {
      @include flex-row-spaceBetween;
      margin: 10px;
      .photo {
        width: 100%;
        object-fit: contain;
        background: none;
      }
    }

    @include breakpoint(phablet) {
      @include flex-row-spaceBetween;

      .description {
        width: 40%;
      }
      .photo__container {
        width: 60%;
      }
    }
  }
  &__landing {
    @include flex-col-spaceEvenly;
    font-size: 1.8em;
    font-weight: 600;
    align-items: center;
    height: calc(100vh - 100px);
    margin-bottom: 100px;
    justify-content: flex-end;
    &__info {
      z-index: 1;
      padding-left: 10px;
      margin-bottom: 50px;
      .submit {
        margin-top: 50px;
      }
      button {
        width: 200px;
        height: 50px;
      }
      @include flex-col-spaceEvenly;
      h3 {
        @include heading-3;
        font-weight: bolder;
        font-size: 1.3em;
        margin-bottom: 20px;
      }
      span {
        font-size: 0.6em;
        font-weight: 500;
      }
      @include breakpoint(phablet) {
        margin-bottom: 100px;
        align-self: flex-start;
        margin-left: 10vw;
      }
    }

    .hero {
      position: absolute;
      top: 100px;
      opacity: 0.5;
      width: calc(100vw - 15px);
      height: calc(100vh - 100px);

      .react-parallax-bgimage {
        top: 60vh;
      }
      @include breakpoint(handheld) {
        width: 100vw;
      }
      @include breakpoint(phablet) {
        width: calc(100vw - 16px);
      }
      .parallax__cloud {
        .react-parallax-bgimage {
          top: -15vh;
        }
      }

      .react-parallax-bgimage {
        top: 40vh;
      }
    }
  }
}

.heroIcon {
  background-image: url("../../assets/images/egg.png");
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50%;
  top: 30%;
  @include breakpoint(phablet) {
    top: 35%;
  }
}
.cloud {
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  img {
    max-width: 300px;
    max-height: 300px;
  }
}
