@import "scss/abstracts/mixins";

.howto {
  @include flex-col-spaceEvenly;

  .map__container {
    border: 3px solid $color-orange;
    border-radius: 3px;
    height: 400px;
  }

  .marker {
    background-color: transparent;
    filter: invert(0.5) sepia(1) hue-rotate(310deg) saturate(6);
    height: 40px;
    width: 40px;
    border: none;
  }

  &__container {
    @include flex-col-spaceEvenly;
    margin: 20px auto;
    width: 90vw;
    h5 {
      text-align: center;
    }

    .item1,
    .item2 {
      margin: 10px 20px;
    }

    @include breakpoint(phablet) {
      max-width: 800px;
      .item1 {
        @include flex-row-spaceEvenly;
        p {
          max-width: 50%;
          margin: 10px 10px 40px 20px;
        }

        .photo__container {
          max-width: 40%;
        }
      }
    }
  }

  // breakpoint: larger than mobile

  @include breakpoint(phablet) {
    .photo5 {
      width: calc(16 * 5vw);
      height: calc(9 * 5vw);
    }
  }
}
