@import "scss/abstracts/mixins";

.howto {
  @include flex-col-spaceEvenly;

  .map__container {
    border: 3px solid $color-orange;
    border-radius: 3px;
    height: 400px;

    .popup-details {
      padding: 0.5rem;
      h4 {
        font-weight: bold;
      }

      p {
        color: #555;
        margin: 0;
      }
    }
  }

  .marker {
    background-color: transparent;
    filter: invert(0.5) sepia(1) hue-rotate(310deg) saturate(6);
    height: 40px;
    width: 40px;
    border: none;
  }
  .user-marker {
    filter: invert(0.25) sepia(1) hue-rotate(310deg) saturate(6);
    height: 50px;
    width: 50px;
  }

  .description {
    margin: 3rem auto;

    a {
      color: $color-orange;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  &__container {
    @include flex-col-spaceEvenly;
    margin: 20px auto;
    width: 90vw;
    h5 {
      text-align: center;
      margin-bottom: 2rem;
    }

    .item1,
    .item2 {
      margin: 10px 20px;
    }
  }
  div:nth-child(2) {
    margin: 0;
  }
  .photo3 {
    width: 300px;
  }
  // breakpoint: larger than mobile

  @include breakpoint(phablet) {
    &__container {
      max-width: 800px;
    }
    .item1 {
      @include flex-row-spaceEvenly;
      p {
        max-width: 50%;
        margin: 10px 10px 40px 20px;
      }

      .photo__container {
        max-width: 40%;
      }
    }
    .photo5 {
      width: 100vw;
      height: 100%;
    }
  }
}
