@import "scss/abstracts/mixins";

.merchandise {
  @include flex-col-spaceEvenly;
  min-height: calc(100vh - 400px);

  .purchase-history {
    max-height: 350px;
    overflow: auto;
  }

  &__container {
    @include flex-col-spaceEvenly;
    margin: 20px auto;
    width: 90vw;
    max-width: 800px;
    text-align: center;
    .stickers__container,
    .shirts__container {
      @include flex-col-spaceBetween;
      margin: 10px;
      .field__container {
        @include flex-col-spaceEvenly;
        width: 100%;
      }
      .field {
        @include flex-row-spaceBetween;
        width: 100%;
        margin: 0.5rem 0;
        input {
          width: 60px;
          height: 40px;
        }

        label {
          text-align: left;
          line-height: 1.2em;

          span {
            color: $color-teal-dark;
            font-weight: bolder;
          }
        }
      }

      button {
        max-width: 150px;
        overflow: hidden;
        float: right;
      }
    }

    // breakpoint: larger than mobile

    @include breakpoint(phablet) {
      width: 100%;
      .stickers__container,
      .shirts__container {
        @include flex-row-spaceBetween;
        .field__container {
          width: 50%;
        }

        button {
          float: none;
        }
      }
    }
  }
}
