@import "../abstracts/mixins";

.stances {
  .title {
    h2 {
      @include heading-2;
      text-align: center;
    }
  }
  .photo {
    margin-bottom: 20px;
  }

  h3 {
    @include heading-3;
    text-align: center;
  }
}
