@import "scss/abstracts/mixins";

.volunteer {
  @include flex-col-spaceEvenly;
  min-height: calc(100vh - 400px);

  &__form {
    width: 80vw;
    margin: auto;

    .field {
      @include flex-row-spaceBetween;
      margin: 10px 0;
    }

    .submit {
      text-align: center;
      margin: 10px 0;
    }

    // breakpoint: larger than mobile

    @include breakpoint(phablet) {
      width: 50vw;
      max-width: 500px;
    }
  }
}
