@import "scss/abstracts/mixins";

.volunteer {
  @include flex-col-spaceEvenly;
  min-height: calc(100vh - 400px);

  &__form {
    width: 80vw;
    margin: auto;

    .field {
      @include flex-row-spaceBetween;
      margin: 10px 0;
    }

    .submit {
      text-align: center;
      margin: 10px 0;
    }

    // breakpoint: larger than mobile

    @include breakpoint(phablet) {
      width: 50vw;
      max-width: 500px;
    }
  }

  &__list {
    text-align: center;
    padding: 20px 0 10px;
    background: linear-gradient($color-sky-dark, $color-ink-lighter);
    ul {
      @include flex-row-spaceEvenly;
      flex-wrap: wrap;
      padding: 0 1rem;
      max-height: 30vh;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        list-style: none;
        text-transform: capitalize;
        min-width: 80px;
        margin: 0 0.5rem;

        a {
          color: $color-teal-darker;

          &:hover,
          &:active {
            text-decoration: none;
            color: $color-teal-light;
            font-weight: bold;
            letter-spacing: 1px;
          }
          &:active {
            color: $color-teal-lighter;
          }
        }
      }
    }
  }
}
