//reads all the scss files

//abstracts
@import "scss/abstracts/vars";
@import "scss/abstracts/mixins";
@import "scss/abstracts/colors";

//fonts
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans&display=swap");

//stylesheets
//pages
@import "scss/pages/About";
@import "scss/pages/Donate";
@import "scss/pages/Endorsement";
@import "scss/pages/Home";
@import "scss/pages/HowTo";
@import "scss/pages/Merchandise";
@import "scss/pages/Stances";
@import "scss/pages/Volunteer";
//components
@import "scss/components/Button";
@import "scss/components/Footer";
@import "scss/components/Header";
@import "scss/components/Input";
@import "scss/components/Media";
@import "scss/components/Navigation";

body {
  font-family: "Heebo", sans-serif;
}

.section {
  @include flex-col-spaceEvenly;
  min-height: 90vh;
  width: auto;
  border-top: solid 10px white;
  border-bottom: solid 10px white;
  padding: 10px 20px;
}

// to help see content in dev
.App {
  background-color: lightcoral;
}
