//reads all the scss files

//abstracts
@import "scss/abstracts/vars";
@import "scss/abstracts/mixins";
@import "scss/abstracts/colors";

//fonts
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans&display=swap");

body {
  font-family: "Heebo", sans-serif;
}

.section {
  @include flex-col-spaceEvenly;
  min-height: 90vh;
  width: auto;
  border-top: solid 10px white;
  border-bottom: solid 10px white;
  padding: 10px 20px;
}

.photo {
  @include flex-col-spaceEvenly;
  align-items: center;
  background: $color-sky-lighter;
  height: 400px;
  width: 80vw;
  margin: auto;
}

.photo2 {
  height: 100px;
  width: 100px;
}

.photo3 {
  height: 171px;
  width: 304px;
  @include breakpoint(phablet) {
    height: 360px;
    width: 640px;
  }
}
.photo4 {
  height: 200px;
  width: 200px;
}

// to help see content in dev
.App {
  background-color: lightcoral;
}

//stylesheets
//pages
@import "scss/pages/About";
@import "scss/pages/Donate";
@import "scss/pages/Endorsement";
@import "scss/pages/Home";
@import "scss/pages/HowTo";
@import "scss/pages/Merchandise";
@import "scss/pages/Stances";
@import "scss/pages/Volunteer";
//components
@import "scss/components/Button";
@import "scss/components/Footer";
@import "scss/components/Header";
@import "scss/components/Input";
@import "scss/components/Navigation";
